public/js
public/**/*.map
public/**/*.css
public/**/*.js
public/**/*.gz
public/**/*.lzma
!public/config
src/config/local.yml
/lib-node6/config/local.json
/lib-node6-dev

/docs
/dist
/coverage
/build
/config
node_modules
/data

/.settings
/.project
*.sublime-project
*.sublime-workspace
/.idea
fabfile.pyc

fabfile.py

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
.*.swp
.DS_Store
,*
