.header
  background $header-background
  z-depth-1()
  display flex
  justify-content space-between
  height 40px

  .logo
    display inline-block
    background url('./logo-80.png')
    background-size 60px 40px
    width 60px
    height 40px

  .dropdown::after
    border-left none
    color $primary-color

