$page-100 = false

@require 'turaco-styl/index';
@require 'turaco-styl/components/index';
@require 'react-alp-login';
@require '_install';
@require '_home';
@require '_header';
@require '_no-config';
@require '_disconnected';
@require 'components/spinner';
@require 'components/actions';
@require 'components/raspberry-list';
@require 'components/raspberry';

.button-container
  margin-top 10px
  button
    margin-right 5px

