// $primary-color ?= #435A64
$primary-color ?= #c7053d
// $primary-color ?= #4ba6f5

$page-title-color = #c7053d
$text-title-color = #c7053d

$interaction-default-color ?= #c7053d
$interaction-current-color ?= #c7053d
$interaction-hover-color ?= $interaction-current-color

// $interaction-default-background-color ?= #2580A2
$interaction-current-border-color ?= #c7053d
$interaction-hover-border-color ?= $interaction-default-border-color

$valid-color ?= #8cc04b
$invalid-color ?= #c7053d
$warning-color ?= #F79400

$pre-color ?= #eee
$pre-background ?= #1b2426

$blockquote-border-color ?= #c7053d

$form-label-unfocused-color ?= #dfeccd
$form-default-border ?= 1px solid #8cc04b
$form-hover-border-color ?= #8cc04b
$form-focus-color ?= #8cc04b

$header-background ?= #fff
$body-background = #dfeccd
